//
// Layouts
//
// Styles specific to different page layouts.
//

body {
    background: #1c1c1c;
}

.container {
    padding-top: 16px;
}

h4 {
    margin: 0;
    padding: 0;
}

label {
    font-size: 18px;
    padding: 0 0 10px 0;
}

label, button {
    font-family: @headings-font-family;
    font-weight: normal;
}

.btn-lg {
    height: 100px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
}

.radio {
    label {
        font-family: @font-family-base;
    }
}

table {
    th {
        background-color: white;
    }
}

a {
    text-decoration: underline;

    &.no-participants {
        text-decoration: none;
        color: @text-color !important;
    }
}



.panel {
    margin: 0 0 16px 0;
}
.panel-title {
    font-weight: bold;
    color: @brand-primary;
}
